.container-header {
    max-width: 1134px;
    margin: 0px auto;
}
/* trang thi */

.khung {
    width: 80%;
    margin-left: 10%;
}

.mr {
    margin-left: 45px;
}

.top10 {
    width: 60%;
}

.table {
    text-align: center;
    margin-left: 35%;
    border: 1px white none;
    box-shadow: 10px 10px 5px #aaaaaa
}

.containerfull,
.row {
    float: left;
    width: 100%;
    /* margin-top: 160px; */
}

.containerfull img,
.boxleft img,
.boxright img,
.boxnews {
    width: auto;
    height: auto;
    max-width: 220px;
    max-height: 265px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.box50 {
    float: left;
    width: calc(50% - 30px);
}

.box25 {
    float: left;
    width: 25%;
    width: calc(25% - 30px);
    position: relative;
}

.kithi {
    float: left;
    width: 50%;
    width: calc(50% - 30px);
    position: relative;
    margin-bottom: 15px;
    height: 290px;
}

.kithi .btn {
    background-color: white;

}

.kithi .btn:hover {
    color: red;
    background-color: white;
}

.box50 img,
.box25 img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999999;
    height: 270px;
}

section,
.mr30 {
    margin: 30px 0px;
}

.mr15 {
    margin-right: 30px;
}

button {
    color: #4b709f;
    font-size: 13pt;
    font-weight: bold;
    width: 100%;
    border: 1px #4b709f dotted;
    border-radius: 5px;
    padding: 10px 0px;
    background-color: #FFFFFF;
}

h1 {
    text-align: center;
    font-size: 24pt;
    margin: 0px;
}

h2 {
    font-size: 18pt;
    padding-left: 10px;
    color: #444444;
    border-left: 4px #FF9900 solid;
}

.tenchuyende {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    float: left;
    width: 100%;
    padding: 8px 0px;
}

.col6 {
    float: left;
    width: 25%;
}

.col62 {
    float: left;
    width: 45%;
    color: white;
    padding-left: 15px;
}

.imgtenchuyende img {
    width: 90%;
}

.col62.textchitiet p {
    font-size: 14px;
}

hr {
    margin-bottom: 30px;
    border-top: 1px #CCC dotted;
}

th,
td {
    padding: 10px;
    border: 1px #666666 solid;
    text-align: left;
}

h1 span {
    color: #993300;
}


/* FORM */

input[type=text],
input[type=password],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* CSS cho trang thi  */

.container-thi {
    margin: 0px auto;
    padding: 0px;
    max-width: 1200px;
    margin-top: 25px;
}

/* .container-thi .title {
    margin-top: 100px;
} */
.container-thi .title {
    display: flex;
    justify-content: space-between;
}

.container-thi .thoi-gian {
    color: black;
    font-style: italic;
}


.container-thi .content-thi {
    display: flex;
    border-top: 1px solid #3333;
    margin-top: 20px;
    padding-top: 15px;
    margin-bottom: 100px;
}

.container-thi .box-left {
    flex-basis: 25%;
    transition:  all 0.5s;
}
#fixedBoxLeft {
    /* position: relative; */
    top: 20px;
    transition: top 0.3s ease; 
}

.fixed {
    position: fixed;
    top: 20px;
    width: 300px;
    transition: top 0.3s ease; 
   
}
.fixedTg {
    position: fixed;
    top: 20px;
    right: -56px;
    width: 300px;
    transition: top 0.3s ease; 
}
.ml-270 {
    margin-left: 300px;
}
.container-thi .box-center {
    flex-basis: 75%;
    /* margin-left: 270px;  */
}

.container-thi .box-content div a {
    background: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 41px;
    text-align: center;
}

.container-thi .box-content div a:hover {
    background-color: #cbf16c;
    color: white;
}

.container-thi .box-content div a.done {
    background-color: gray;
    /* Màu xám cho câu đã làm */
    font-weight: bold;
    /* In đậm */
    color: white;
}

.container-thi .content-thi .box-content .row-cauhoi {
    display: flex;
    flex-wrap: wrap;
}

.container-thi .content-thi .box-content .row-cauhoi div {
    margin: 6px;
}

button[name="btnNopbai"] {
    width: 200px;
    height: 44px;
    margin-left: 30px;
    margin-top: 20px;
}

.container-thi .box-center .box-title p {
    font-size: 17px;
}

.content-cauhoi p {
    margin-bottom: 0px;
    font-size: 16px;
}

.content-cauhoi .img-cauhoi img {
    width: 55%;
    height: 200px;
}

.box-dapan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 10px;

}

.box-dapan label {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}
.box-dapan input {
    width: 19px;
    height: 19px;
}

.box-dapan img {
    width: 80%;
    height: 180px;
}

input#dapan {
    width: 18px;
    border-radius: 50%;
    height: 18px;

}

.box-cauhoi {
    margin-bottom: 10px;
}

