<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
    
    <link rel="stylesheet" href="../assets/css/st.css" />
    <style>
        .badge {
          
           height: 200px;
           width: 200px;
        }
        .badge-primary {
            background-color: #84b4df !important;
           
        }
        .bg-secondary{
            margin-right: 20px;
            background-color: #84b4df !important;
            font-size: larger;
            padding-top: 30px;
            margin: 15px;
           
        }
        .zeQuickNavItem-text{
            color: black;
        }
        
    </style>
</head>
<body>
    <div class="container mt-3">
        <h2>Đề kiểm tra 15phut </h2>
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h2>Kết quả bạn đạt được</h2>
            <span  class="badge bg-secondary"> <p>Số câu đúng:</p> <br>
               <h3 class="text-danger">15/15</h3> 

            </span>
            <span class="badge bg-secondary"><p >Điểm số:</p> <br> <h3 class="text-danger">10/10</h3></span>
            <span class="badge bg-secondary"><p>Thời gian làm bài:</p> <br> <h3 class="text-danger">15:00 phút</h3>  </span>
            <span class="badge bg-secondary"><p>Bạn đã làm đúng:</p> <br> <h3 class="text-danger">100%</h3>  </span>
            
            
                <h3 class="block-minorHeader">Bài Làm của bạn</h3>
                <div class="block-row">
                    <div class="zeQuickNavItems js-ze-quickNav" data-xf-init="exam-quick-nav">
                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234758">
                            <div class="zeQuickNavItem-text">1</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234759">
                            <div class="zeQuickNavItem-text">2</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234760">
                            <div class="zeQuickNavItem-text">3</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234761">
                            <div class="zeQuickNavItem-text">4</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234762">
                            <div class="zeQuickNavItem-text">5</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234763">
                            <div class="zeQuickNavItem-text">6</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234764">
                            <div class="zeQuickNavItem-text">7</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234765">
                            <div class="zeQuickNavItem-text">8</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234766">
                            <div class="zeQuickNavItem-text">9</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234767">
                            <div class="zeQuickNavItem-text">10</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234768">
                            <div class="zeQuickNavItem-text">11</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234769">
                            <div class="zeQuickNavItem-text">12</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234770">
                            <div class="zeQuickNavItem-text">13</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234771">
                            <div class="zeQuickNavItem-text">14</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234772">
                            <div class="zeQuickNavItem-text">15</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234773">
                            <div class="zeQuickNavItem-text">16</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234774">
                            <div class="zeQuickNavItem-text">17</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234775">
                            <div class="zeQuickNavItem-text">18</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234776">
                            <div class="zeQuickNavItem-text">19</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234777">
                            <div class="zeQuickNavItem-text">20</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234778">
                            <div class="zeQuickNavItem-text">21</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234779">
                            <div class="zeQuickNavItem-text">22</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234780">
                            <div class="zeQuickNavItem-text">23</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234781">
                            <div class="zeQuickNavItem-text">24</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234782">
                            <div class="zeQuickNavItem-text">25</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234783">
                            <div class="zeQuickNavItem-text">26</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234784">
                            <div class="zeQuickNavItem-text">27</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234785">
                            <div class="zeQuickNavItem-text">28</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234786">
                            <div class="zeQuickNavItem-text">29</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234787">
                            <div class="zeQuickNavItem-text">30</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234788">
                            <div class="zeQuickNavItem-text">31</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234789">
                            <div class="zeQuickNavItem-text">32</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234790">
                            <div class="zeQuickNavItem-text">33</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234791">
                            <div class="zeQuickNavItem-text">34</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234792">
                            <div class="zeQuickNavItem-text">35</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234793">
                            <div class="zeQuickNavItem-text">36</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234794">
                            <div class="zeQuickNavItem-text">37</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234795">
                            <div class="zeQuickNavItem-text">38</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234796">
                            <div class="zeQuickNavItem-text">39</div>
                        </div>

                        <div class="zeQuickNavItem js-ze-quickNav-item is-loaded" data-loaded="0" data-question-id="234797">
                            <div class="zeQuickNavItem-text">40</div>
                        </div>
                    </div>
                </div>
            
            <h2>Bạn đã rất cố gắng !</h2>
        </div>
        
    </div>
</body>
</html>